{% extends "baseinterna.html" %}
{% block extra_js %}
<script type='text/javascript'>
    $(document).ready(function() {
         // para resaltar menu
        $('#aliados-menu').addClass('active');
    });
</script>
{%endblock%}
{%block titulo%}Aliados en Nicaragua{%endblock%}
{%block descriptitulo%}La Asociación Mundial de Radios Comunitaria (AMARC), capitulo Nicaragua, cuenta como aliados estratégicos a organizaciones sociales que comparten su visión institucional y forman parte de su red de información y conocimientos al servicio de la ciudadanía{%endblock%}
{% block contenido %}
<div class="row">
    <div class="encabezado">
      <div class="container">
            <div class="row">
                <div class="span5">
                    <div class="encabezado-title">
                        ALIADOS
                    </div>
                </div>
                <div class="span7">

                </div>
            </div>
      </div>
    </div>
</div>
<div class="row body-content">
    <div class="container">
        <div class="row">
            <div class="span9">

                    <div class='asociado-link'>
                        <center><a href="/temporal-detalle-aliado" ><img src="/files/img/sample-logo.png" alt=""></a><br><br> 
                        <a href="/temporal-detalle-aliado" class="titulo-medio">Nombre de Aliado</a>
                        </center> 
                    </div>

                    <div class='asociado-link'>
                        <center><a href="/temporal-detalle-aliado" ><img src="/files/img/sample-logo.png" alt=""></a><br><br> 
                        <a href="/temporal-detalle-aliado" class="titulo-medio">Nombre de Aliado</a>
                        </center> 
                    </div>

                    <div class='asociado-link'>
                        <center><a href="/temporal-detalle-aliado" ><img src="/files/img/sample-logo.png" alt=""></a><br><br> 
                        <a href="/temporal-detalle-aliado" class="titulo-medio">Nombre de Aliado</a>
                        </center> 
                    </div>

                    <div class='asociado-link'>
                        <center><a href="/temporal-detalle-aliado" ><img src="/files/img/sample-logo.png" alt=""></a><br><br> 
                        <a href="/temporal-detalle-aliado" class="titulo-medio">Nombre de Aliado</a>
                        </center> 
                    </div>

                    <div class='asociado-link'>
                        <center><a href="/temporal-detalle-aliado" ><img src="/files/img/sample-logo.png" alt=""></a><br><br> 
                        <a href="/temporal-detalle-aliado" class="titulo-medio">Nombre de Aliado</a>
                        </center> 
                    </div>
                    
                    <div class='asociado-link'>
                        <center><a href="/temporal-detalle-aliado" ><img src="/files/img/sample-logo.png" alt=""></a><br><br> 
                        <a href="/temporal-detalle-aliado" class="titulo-medio">Nombre de Aliado</a>
                        </center> 
                    </div>

                    <div class='asociado-link'>
                        <center><a href="/temporal-detalle-aliado" ><img src="/files/img/sample-logo.png" alt=""></a><br><br> 
                        <a href="/temporal-detalle-aliado" class="titulo-medio">Nombre de Aliado</a>
                        </center> 
                    </div>

                    <div class='asociado-link'>
                        <center><a href="/temporal-detalle-aliado" ><img src="/files/img/sample-logo.png" alt=""></a><br><br> 
                        <a href="/temporal-detalle-aliado" class="titulo-medio">Nombre de Aliado</a>
                        </center> 
                    </div>

            </div>
            <div class='span3 sidebar-radios'>
                <br>
                <center>
                <img src="/files/img/amarc_sidebar.png"><br><br>
                </center>
                <p>Lista que demuestra las organizaciones aliadas de AMARC Nicaragua en la actualidad</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}