{% extends "baseinterna.html" %}
{% block extra_js %}
<script type='text/javascript'>
    $(document).ready(function() {
         // para resaltar menu
        $('#producciones-menu').addClass('active');
    });
</script>
<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>
{%endblock%}
{%block title%}Audios{%endblock%}
{%block titulo%}Producciones{%endblock%}
{%block descriptitulo%}Aquí podrá encontrar las producciones radiofónicas elaboradas por las asociadas y aliados  a fin de favorecer el ejercicio del derecho a la información y a la libertad de expresión de la ciudadanía.{%endblock%}
{% block contenido %}
<div class="row">
    <div class="encabezado">
      <div class="container">
            <div class="row">
                <div class="span5">
                    <div class="encabezado-title">
                        Producciones Multimedia
                    </div>
                </div>
                <div class="span7">

                </div>
            </div>
      </div>
    </div>
</div>
<div class="row body-content">
    <div class="container">
        <div class="row">
            <div class="span9">
                <img src="/files/img/audiosicon.png">
                <span class="titulo-producciones">
                    Audios
                </span>
                <br><br><br>
                {% for obj in audio %}
                    <div class="elemento-audio">
                    <div class="nombre-radio">
                        
                    </div>
                    <div class="player-right">
                        <div class="player">
                            <audio src="/files/{{obj.audio}}" preload="auto" />
                        </div>
                        <br>
                        {{obj.nombre_audio}}
                        <a href="/files/{{obj.audio}}" class="boton-blue-leer ">Descargar</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                {% empty %}
                    <p>No hay audios</p>
                {% endfor %}

                <div class="pagination">
                  <ul>
                    <li><a href="#">←</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">→</a></li>
                  </ul>
                </div>

            </div>
            <div class='span3 sidebar-radios'>
                <center>
                <div class="btn-group">
                  <a href="/contrapartes/videos" class="btn btn-large active">Audios</a>
                  <a href="/contrapartes/audios" class="btn btn-large ">Videos</a>
                </div>
                </center>
                <br>
                <center>
                <form class="form-search">
                    <div class="input-prepend">
                    <button type="submit" class="btn"><i class="icon-search"></i></button>
                    <input type="text" class="span2 ">
                    </div>
                </form>
                </center>
                <div class="tabbable producciones-tab">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Radios</a></li>
                    <li><a href="#tab2" data-toggle="tab">Etiquetas</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                      <a href="#">Radio Camoapa</a>
                      <a href="#">Radio Humedales</a>
                      <a href="#">Radio Segovia</a>
                      <a href="#">Radio Juvenil</a>
                      <a href="#">Radio DKYFM</a>
                      <a href="#">Radio Universidad</a>
                      <a href="#">Radio Ecologica</a>
                      <a href="#">Radio La Nandaimeña</a>
                      <a href="#">Radio Vos</a>
                      <a href="#">Radio Zinica</a>
                      <a href="#">Radio Palabra de mujer</a>
                      <a href="#">Radio Huracan</a>
                    </div>
                    <div class="tab-pane" id="tab2">
                      <a href="#" class="etiqueta"><i class="icon-tag"></i>Libertad</a>
                      <a href="#" class="etiqueta"><i class="icon-tag"></i>Mujeres</a>
                      <a href="#" class="etiqueta"><i class="icon-tag"></i>Ciudadania</a>
                      <a href="#" class="etiqueta"><i class="icon-tag"></i>Derecho</a>
                      <a href="#" class="etiqueta"><i class="icon-tag"></i>Local</a>
                      <a href="#" class="etiqueta"><i class="icon-tag"></i>Naturaleza</a>
                      <a href="#" class="etiqueta"><i class="icon-tag"></i>Testimonio</a>
                      <a href="#" class="etiqueta"><i class="icon-tag"></i>Novela</a>
                      <a href="#" class="etiqueta"><i class="icon-tag"></i>Programa radial</a>
                      <a href="#" class="etiqueta"><i class="icon-tag"></i>Cuentos</a>
                      <a href="#" class="etiqueta"><i class="icon-tag"></i>Viñetas</a>
                      <a href="#" class="etiqueta"><i class="icon-tag"></i>Radio</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}